<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%F:%L) - %m%n" />
		</Console>

		<RollingFile name="fixedTimeFileAppender" fileName="F:/logs/ifg.log" 
			filePattern="F:/logs/ifg.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{2}(%F:%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
			<DefaultRolloverStrategy max="512" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="cn.lm" level="info" additivity="false">
			<!-- <AppenderRef ref="ASYNC" /> -->
			<AppenderRef ref="async" />
			<AppenderRef ref="console" />
		</Logger>



		<Root level="info">
			<AppenderRef ref="async" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>